<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Адаптивный дизайн &copy; fussraider.ru</title>
	<link rel="stylesheet" type="text/css" media="all" href="styles/main.css"/>
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1440px)" href="styles/large-screen.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 1440px) and (min-width: 980px)" href="styles/middle-screen.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width : 980px ) and (min-width : 588px)" href="styles/small-screen.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 640px)" href="styles/smallest-screen.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>    
    <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
        	var $container = $('.posts');
        	$container.imagesLoaded(function(){
        		$container.masonry({ 
	                itemSelector: '.item',
	                columnWidth: ".item",
	                singleMode: true,
                    resizeable: true
        		})
        	});
        });

        $(window).load(function() {
            $('.posts').masonry('reload');
        })

        $(window).resize(function() {
            $('.posts').masonry('reload');
        })
    </script>
</head>
<body>

<div class="top-bar">
	<div id="motto">Minimalism. Atheism. Whiskey!</div>
</div>

<div class="header">
    	<div id="logo"><a href="index.html"></a></div>
    
    <div id="quotes">
    	<b>Creedy:</b> Die! Die! Why won't you die?... Why won't you die?<br />
        <b>V:</b> Beneath this mask there is more than flesh. Beneath this 
        mask there is an idea, Mr. Creedy, and ideas are bulletproof.
    </div>
</div>

<div id="menu">
    <a href="">main</a><span id="splitter">|</span>
    <a href="">blog</a><span id="splitter">|</span>
    <a href="">files</a><span id="splitter">|</span>
    <a href="">about</a>
</div>

<div class="interesting">
	<div id="cover"></div>
    <div id="message">
    	<div class="tittle"><h1>
        	How much do you know about your favourite hobby?
        </h1></div>
        
        <div class="text">
        	Photography permeates our culture in so many ways, 
            from the technical aspects that shape each image to 
            the famous photographers and images themselves that 
            shape popular culture. In our latest quiz we test your 
            knowledge of all things photography...
    	</div>
        
        <div class="pages">
        	<a href=""><div class="point"></div></a>
            <a href=""><div class="point active"></div></a>
            <a href=""><div class="point"></div></a>
        </div>
    </div>
</div>

<div class="posts">
     
    <div class="item">
    	<img class="top" src="img/post-covers/post-1.png" />
        <div id="text">
            The FBI claims it doesn't actually 
            know how its iPhone-hacking tool 
            works, so it can't share the method 
            with Apple.
        </div>
    </div>
   
	<div class="item">
    	<img class="top" src="img/post-covers/post-2.png" />
        <div id="player">
            <div class="play_btn">2Pac – black nigga killa 2016</div>
            <div class="play_btn">2Pac – I See No Changes Remix</div>
            <div class="play_btn">2Pac  – Going Away #NEW</div>
            <div class="play_btn">2Pac  – Starin Through My ...</div>
            <div class="play_btn">2Pac  – Dont Cry</div>
            <div class="play_btn">2Pac – Lord Knows</div>
        </div>
    </div>
    
    <div class="item">
    	<img class="left" src="img/post-covers/post-3.png" />
        <div id="text">
            Fahrenheit 451 is a dystopian 
            novel by Ray Bradbury published 
            in 1953. It is regarded as one of 
            his best works. The novel presents 
            a future American society where 
            books are outlawed and "firemen"
            burn any that are found. ... 
        </div>
    </div>
    
    <div class="item">
    	<img class="top" src="img/post-covers/post-4.png" />
        <div id="text">
            The PHP development team announces the immediate 
            availability of PHP 7.0.1. Several bugs have been fixed. 
            All PHP 7.0 users are encouraged to upgrade to this 
            version.
            For source downloads of PHP 7.0.1 please visit our 
            downloads page, Windows source and binaries can be 
            found on windows.php.net/download/. The list of 
            changes is recorded in the ChangeLog.
        </div>
    </div>
    
	<div class="item">
    	<img class="right" src="img/post-covers/post-5.jpg" />
        <div id="text">
            It looks like Call of Duty: Infinite Warfare is coming to the Windows Store. It's not searchable on the Store at the moment, but the page for Modern Warfare Remastered is discoverable, and it opens the same page in the Store app, where it's marked as not available for separate ...
        </div>
    </div>
    
    <div class="item">
        <img class="left" src="img/post-covers/post-6.jpg" />
        <div id="text">
        French naturalist Dr. Aronnax embarks on an expedition to hunt down a sea monster, only to discover instead the Nautilus, a remarkable submarine built by the enigmatic Captain Nemo. Together Nemo and ...
        </div>
    </div>   
    
</div>
</body>
</html>